.main, .content-line {
  display: flex;
  flex-flow: row nowrap;
}

.content-line{
  height: 45vh;
  margin: 3vh;
}

.card{
  background-color: pink;
  margin: 2vw;
  height: 35vh;
  width: 20vw;
  text-align: center;
}

.y-flex{
  display: flex;
  flex-flow: column nowrap;
}
